<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
    <% @user.errors.full_messages_for(:first_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
    <% @user.errors.full_messages_for(:last_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
    <div>
    <%= form.label :email_confirmation %><br>
    <%= form.text_field :email_confirmation %>
    <% @user.errors.full_messages_for(:email_confirmation).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :role_id %><br>
    <%= form.text_field :role_id %>
    <% @user.errors.full_messages_for(:role_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
    <div>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
    <div>
    <%= form.label :password_confirmation %><br>
    <%= form.text_field :password_confirmation %>
    <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <%= form.file_field :avatar %>
  <div>
    <%= form.submit %>
  </div>
<% end %>