<table class="table table-hover" >
  <tr>
    <th>User ID</th>
    <th>First Name</th>
    <th>Designation</th>
    <% if is_hr || is_sd %>
    <% else %>
    <th>Delete</th>
    <th>Login authority</th>
    <% end%>
  </tr>
 
  <% @users.each do |user| %>
  	<tr id="userRow_<%=user.id%>">
   		<td><a href="/users/<%= user.id %>"><%=user.id%></td>
   		<td><%=user.first_name%></td>
   		<td><%=user&.role&.designation%></td>
    	<% if is_admin %>
    		<td><%= link_to "Delete", user,
                  method: :delete,
                  data: { confirm: "Are you sure?" }, remote: true %>
      <td><%= user.status%></td>
      <% if user.status !=  "stat_approved"%>
       <td><a href="/approval/:id"><%= link_to "Approve",user, remote: true,
                  data: { confirm: "Are you sure?" }%></a>
                    <%#= user.hidden_field :status, :value => 1 %>
                  &nbsp&nbsp&nbsp
        <%= link_to "Decline", method: :decline,
                  data: { confirm: "Are you sure?" }%></td>
        <%#= form_for(user, remote: true, data: { confirm: "Are you sure?" }, do |u|)%>
        <%#= u.hidden_field :status, value => 1%>
      <% end%>
  		<% end%></td>
  	</tr>
  <% end %>
</table>
 
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
   <%= msg %>
  </div>
<% end %>

