<h1>User details</h1>
<h5>Search</h5>
<%= form_tag(users_path, method: :get, id: "user_search") do%>
<%= text_field_tag(:search, params[:search], id: "search_users")%>
<%#= submit_tag("Search")%>
<%end%>

<div id="users_table">
  <%= render "index"%>
</div>
<%#= link_to "New user", new_user_path , class:"btn btn-outline-primary"%>
<%#= link_to "Existing user", sign_in_path , class:"btn btn-outline-primary"%>
<%= link_to "Search Canidates", candidates_path , class:"btn btn-outline-primary"%>
<%= link_to "Home", root_path , class:"btn btn-outline-primary"%>

<script type="text/javascript">
  $("#search_users").keyup(function(){
    text = $("#search_users").val();
    // console.log("ajax called............" + text);
    $.ajax({
      type: 'GET',
      url: "/users.js",
      data: {"q": text}
    });
  });
</script>