<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<%= form_with model: @candidate do |form| %>
<div class="card">
  <div class="card-body">
    
    <div class="mb-3">
      <%= form.label :first_name, { class: "form-label"} %><br>
      <%= form.text_field :first_name, { class: "form-control" } %>
      <% @candidate.errors.full_messages_for(:first_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :last_name, { class: "form-label"} %><br>
      <%= form.text_field :last_name, { class: "form-control" } %>
      <% @candidate.errors.full_messages_for(:last_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :email, { class: "form-label"} %><br>
      <%= form.text_field :email, { class: "form-control" } %>
      <% @candidate.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :current_location, { class: "form-label"} %><br>
      <%= form.text_field :current_location, { class: "form-control" } %>
      <% @candidate.errors.full_messages_for(:current_location).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :experience, { class: "form-label"}%><br>
      <%= form.text_field :experience, { class: "form-control" } %>
      <% @candidate.errors.full_messages_for(:experience).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :current_designation, { class: "form-label"} %><br>
      <%= form.text_field :current_designation, { class: "form-control" } %>
      <% @candidate.errors.full_messages_for(:current_designation).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :availability_for_joining, { class: "form-label"} %><br>
      <%= form.date_field :availability_for_joining, attribute: 'date' %>
      <% @candidate.errors.full_messages_for(:availability_for_joining).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    &nbsp
    <div>
      <%= form.label :security_question , { class: "form-label"}%><br>
      <%= form.select :security_question,["What is your birthplace","Name of your first vehicle", "Who is your favorite relative"],{ class:"form-select form-select-lg mb-3" } %>
      <% @candidate.errors.full_messages_for(:security_answer).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div> 
    
    <div>
      <%= form.text_field :security_answer, { class: "form-control" } %>
      <% @candidate.errors.full_messages_for(:security_answer).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    &nbsp
    <div>
      <%= form.label :candidate_reference_id , { class: "form-label"}%>
      <%= form.select :candidate_reference_id, CandidateReference.all.pluck(:name, :id ),{ class:"form-select form-select-lg mb-3" } %>
      <% @candidate.errors.full_messages_for(:candidate_reference_id).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div> 
    &nbsp  
    <% if current_user%>
    <div>
      <%= form.label :status , { class: "form-label"}%>      
      <%= form.select :status,["applied","interview
    ", "hold", "clear", "rejected"],{ class:"form-select form-select-lg mb-3" } %>
    </div>
    <%end%>
      &nbsp
    <div>
    <%= form.file_field :avatar %>
    </div>
    &nbsp
    <div>
      <%= form.submit %>
    </div>
  </div>
</div>
<% end %>

<script>
$(document).ready(function() {
    $('#candidate_candidate_reference_id').select2({
      minimumInputLength: 3
    });
});
</script>