<%= render "navbar"%>
<h1>Candidate details</h1>
<h5>Search</h5>
<%= form_tag(candidates_path, method: :get) do%>
<%= text_field_tag(:search, params[:search], id: "search_candidates")%>
<%#= submit_tag("Search")%>
<%end%>

<div id="candidates_table">
  <%= render "index"%>
</div>
<%= link_to "New candidate", new_candidate_path, class:"btn btn-outline-primary" %>
<%= link_to "Back", user_session_path, class:"btn btn-outline-primary" %>
<%= link_to "Home", root_path , class:"btn btn-outline-primary"%>
<%# if is_admin || is_hr %>
  <%= link_to "Cleared Candidates Docs", docs_view_path, class:"btn btn-outline-primary"%>
<%# end %>

<script type="text/javascript">
  $("#search_candidates").keyup(function(){
    text = $("#search_candidates").val();
    console.log("ajax called............" + text);
    $.ajax({
      type: 'GET',
      url: "/candidates.js",
      data: {"q": text}
    });
  });
</script>
