<%= render "navbar"%>
<h3>Candidate Details</h3>
<table class="table table-hover">
  <tr>
    <th>Candidate ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Current Designation</th>
    <th>Experience</th>
    <th>Email</th>
    <th>Availability</th>
    <th>Current location</th>
    <th>Resume</th>
    <th>Preview</th>
  </tr>
  <tr>
    <td><a href="/candidates/<%= @candidate.id %>">
        <%= @candidate.id %>
    </a></td>
    <td><%= @candidate.first_name %></td>
    <td><%= @candidate.last_name %></td>
    <td><%= @candidate.current_designation %></td>
    <td><%= @candidate.experience %></td>
    <td><%= @candidate.email%></td>
    <td><%= @candidate.availability_for_joining %></td>
    <td><%= @candidate.current_location %></td>
    <td><%=link_to 'download', rails_blob_path(@candidate.avatar, disposition: "attachment")%></td>
    <td><%=link_to 'preview', rails_blob_path(@candidate.avatar, disposition: "preview"), target: '_blank'%></td>
  </tr>
</table>
<table  class="table table-hover">
  <tr>
    <th>Security Question</th>
    <th>Security Answer</th>
    <th>Reference</th>
    <th>Interview status</th>
  </tr>
<tr>
<td> <%= @candidate.security_question %></td>
<td><%= @candidate.security_answer %></td>
<td><%= @candidate.candidate_reference.name%></td>
<td><%= @candidate.status%></td>

</tr>
</table>
<% if is_admin %>
    <%= link_to "Edit", edit_candidate_path(@candidate) , class:"btn btn-outline-primary"%>
    <%= link_to "Destroy", candidate_path(@candidate), class:"btn btn-outline-primary",           method: :delete,
                  data: { confirm: "Are you sure?" } %>
<%elsif is_hr%>
    <%= link_to "Edit", edit_candidate_path(@candidate) , class:"btn btn-outline-primary"%>
<% else %>
<% end %>

<%= link_to "Back", candidates_path , class:"btn btn-outline-primary"%>